<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.test.dao.AssetDao">

<resultMap type="com.hh.test.pojo.AssetXnews" id="assetXnewsResult">
  <result property="assetType" column="asset_type"></result>
  <result property="assetName" column="asset_name"></result>
  <result property="asset_site" column="assetSite"></result>
  <result property="time" javaType="java.util.Date" column="time" jdbcType="DATE"></result>
</resultMap>

<select id="findAssetXnews" resultMap="assetXnewsResult">
 SELECT *  FROM `as_assetxnews` a 
 where a.asset_name=#{assetName}
</select>

<select id="getAssetXnews" resultMap="assetXnewsResult">
 SELECT *  FROM `as_assetxnews` a 
</select>

<insert id="insertAssetXnews">
	INSERT INTO `as_assetxnews` (asset_type,asset_name,asset_site,TIME)
	values(#{assetType},#{assetName},#{assetSite},#{time})
</insert>


<delete id="deleteAssetXnews"><![CDATA[
	    DELETE FROM as_assetxnews WHERE
	    	 asset_name = #{assetName}
	]]></delete>


</mapper>