<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.test.dao.MapDao">

<resultMap type="com.hh.test.pojo.DeviceLbs" id="DeviceLbsResult">
  <result property="moId" column="moid"></result>
  <result property="deviceId" column="deviceid"></result>
  <result property="reportTime" javaType="java.util.Date" column="reporttime" jdbcType="DATE"></result>
  <result property="lbs" column="lbs"></result>
  <result property="description" column="description"></result>
</resultMap>

<select id="getDeviceLbsByDeviceId" resultMap="DeviceLbsResult">
SELECT nv.* FROM `nv_devicelbs` nv
WHERE nv.`deviceid`=#{deviceId}
AND TO_DAYS(nv.`reporttime`)>=TO_DAYS(NOW())
ORDER BY nv.`reporttime` ASC
</select>


</mapper>